@import "../../../variables.scss";

header {
  background-color: $base-color;
  height: 50px;

  img {
    height: 35px;
    margin-top: 8px;
  }

  .icon-item {
    font-size: 21px;
    padding-left: 10px;
    padding-top: 5px;

    .ng-fa-icon {
      color: #fff;
    }
  }
}
