<header class="sticky-top">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/fundawonen-logo.svg" />
      </div>
      <div class="col-10">
        <div class="d-flex flex-row-reverse">
          <div class="icon-item">
            <fa-icon [icon]="faGlobe"></fa-icon>
          </div>
          <div class="icon-item">
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
