@import "../../../variables.scss";
@import "../../../mixins.scss";

#property-loading {
  color: $base-color;
  text-align: center;
  padding-top: 150px;
  font-size: 20px;
  height: 400px;
}

#property-content {
  .gallery-arrow {
    position: absolute;
    background-color: #fff;
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: $base-color;
    border-radius: 20px;
    margin-top: -18px;
    line-height: 36px;
    font-size: 20px;
    box-shadow: 0 0 5px #ccc;

    &.arrow-prev {
      @include animate;
      left: 20px;
      padding-left: 12px;
      text-align: left;

      &:hover {
        padding-left: 8px;
      }
    }
    &.arrow-next {
      @include animate;
      right: 20px;
      padding-right: 12px;
      text-align: right;

      &:hover {
        padding-right: 8px;
      }
    }
  }

  .gallery-container {
    @include animate;
    position: absolute;

    .gallery-item {
      float: left;
      overflow: hidden;

      img {
        @include animate;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  .media-container {
    .row {
      .col {
        .media-body {
          border-bottom: 1px solid $base-color;
          margin-bottom: 20px;
          .media-item {
            padding: 15px;
            font-size: 15px;
            .ng-fa-icon {
              color: #5ebce7;
            }
            .title {
              padding: 0 5px 0 10px;
            }
            .count {
              color: #999;
            }
          }
        }
      }
    }
  }

  #content {
    h1 {
      margin-top: 15px;
      line-height: 20px;

      .main-title {
        font-size: 22px;
        display: block;
        font-weight: bold;
      }
      .sub-title {
        font-size: 16px;
        color: #999;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    .property-area {
      margin: 15px 0;
      .area-item {
        margin-right: 20px;
        .ng-fa-icon {
          margin-right: 5px;
        }
        span {
          color: #999;
        }
      }
    }
    .property-price {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .description {
      position: relative;
      margin-bottom: 40px;

      &.show-less {
        height: 200px;
        overflow: hidden;
      }
      .content {
        white-space: pre-wrap;
      }

      .show-more {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 60%
        );
        color: #5ebce7;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding-top: 70px;
        font-size: 15px;
        cursor: pointer;
      }
    }

    .kenmerkens {
      .kenmerken-item {
        margin-bottom: 20px;
        .kenmerken-title {
          font-weight: bold;
          border-bottom: 1px solid #ebebeb;
          font-size: 15px;
          margin-top: 10px;
          padding-bottom: 5px;
          margin-bottom: 5px;
        }

        .kenmerken-items {
          padding-left: 10px;
          color: #666;
          line-height: 30px;

          &:hover {
            color: #333;
            background-color: #fbfbfb;
          }

          .kenmerken-items-title {
            width: 200px;
          }
          .kenmerken-items-value {
            color: #39718b;
          }
        }
      }
    }
  }

  .map-container {
    width: 100%;
    margin-bottom: 15px;

    ::ng-deep .map-container {
      width: 100% !important;
    }
  }
}
